user.js
/node_modules/


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

tests-examples/
e2e/
package-lock.json